@import
    'utils/variables';
    
.container-info {
    margin: 20px auto;
    font-size: 13px;
    padding: 20px;
}

.container__box{
    border: $border; 
    border-radius: 5px;
    padding: 20px;  
    &--title{
        font-weight: bold;
    }
}

.trending{
    display: grid;
    grid-template-columns: 5fr 1fr;

    &__sub{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    &--underlined{
        color: black;
        &:hover{
            text-decoration: underline;
            color: black;
        }
    }
    &__subscribers{
        font-size: 12px;
    }
}


