@import    
  'utils/variables';

$font-stack: 'Montserrat', Helvetica, sans-serif;
$background: $grey;

html {
  overflow-y: scroll;
} 
body {
  margin: 0;
  font-family: $font-stack;
  background: $background;
}
ul{
  text-decoration: none;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

h1{
  text-align: center;
}
i{
  cursor: pointer;
}
.white{
  background: $white;
}
