html {
  overflow-y: scroll; }

body {
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  background: #EBEFF2; }

ul {
  text-decoration: none;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  text-align: center; }

i {
  cursor: pointer; }

.white {
  background: #FFFF; }

.comment--show .comment {
  margin: 10px;
  padding: 10px 20px;
  border: .5px solid lightgrey;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-rows: 30px 1fr;
  text-align: start; }
  .comment--show .comment__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 270px;
    white-space: nowrap;
    font-size: 13px; }
  .comment--show .comment__link {
    color: black; }
    .comment--show .comment__link:hover {
      text-decoration: underline; }
  .comment--show .comment span {
    font-style: italic;
    color: black;
    word-wrap: break-word; }

.comment--hide {
  display: none; }

.container-info {
  display: none; }
  @media (min-width: 1200px) {
    .container-info {
      display: block;
      margin: 20px auto;
      font-size: 13px; } }
  @media (min-width: 900px) {
    .container-info {
      display: block;
      margin: 20px auto;
      font-size: 13px; } }

.container__box {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px; }
  .container__box--title {
    font-weight: bold; }

.trending {
  display: grid;
  grid-template-columns: 5fr 1fr; }
  .trending__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px; }
  .trending--underlined {
    color: black; }
    .trending--underlined:hover {
      text-decoration: underline;
      color: black; }
  .trending__subscribers {
    font-size: 12px; }

.container__details {
  padding: 0 20px;
  display: grid;
  max-height: 400px;
  min-width: 300px;
  grid-template-rows: 1fr repeat(2, 2fr) 1fr; }
  .container__details--sub {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; }
  .container__details--title {
    font-size: 11px;
    font-weight: bold; }
  .container__details--numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    font-size: 14px;
    font-weight: bold; }
  .container__details--desc {
    font-style: italic;
    font-size: 14px; }

.numbers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container__details--img {
  border-radius: 24px;
  width: 45px;
  height: 45px;
  margin-right: 20px; }

.container-post {
  margin: 20px 30px;
  list-style: none;
  padding: 0;
  border: 1px solid #cccccc;
  font-size: .9em; }

.post {
  border: .5px solid lightgrey;
  display: grid;
  grid-template-columns: 10fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: start;
  padding: 10px 0 0 10px; }
  .post:hover {
    border: .5px solid lightgrey; }
  .post__title {
    display: grid;
    grid-template-rows: 2fr 30px;
    justify-items: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .post__title--style {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px; }
    .post__title--style:hover {
      color: #3b51b1;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }
    .post__title--style:visited {
      color: #0D1F2D; }
  @media (max-width: 600px) {
    .post {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 30px 5px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: start; } }

.post__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  font-size: 12px; }
  .post__details .post__link {
    color: #7c7c7c;
    text-decoration: none;
    margin-right: 10px; }
    .post__details .post__link:hover {
      text-decoration: underline; }
  .post__details--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .post__details--right .save {
      color: #FFD166; }
    @media (max-width: 600px) {
      .post__details--right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: wrap;
        -ms-flex: wrap;
        flex: wrap; } }
  .post__details .post__comments--num {
    margin-right: 10px; }
  .post__details .post__comments--icon-up {
    color: #D33E43;
    font-size: 15px; }
  .post__details .post__comments--icon-down {
    font-size: 15px;
    color: #1C7293; }

.no-posts {
  margin-top: 100px; }

.list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 30px;
  padding: 0; }

.disabled {
  opacity: 0.6;
  pointer-events: none; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 5px 30px; }
  .form__validation {
    color: red;
    margin: 0 30px; }
  .form__input {
    width: 200px; }
    .form__input ::-webkit-input-placeholder {
      background-color: white !important;
      color: white !important; }
    .form__input :-ms-input-placeholder {
      background-color: white !important;
      color: white !important; }
    .form__input ::-ms-input-placeholder {
      background-color: white !important;
      color: white !important; }
    .form__input ::placeholder {
      background-color: white !important;
      color: white !important; }

.header {
  border-bottom: 1px solid #cccccc;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  justify-items: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 40px;
  font-weight: bold;
  white-space: nowrap; }
  .header a {
    color: black; }
    .header a:hover {
      color: #1C7293; }
  .header__logo {
    width: 40px;
    height: 40px;
    margin-right: 20px; }

.container-pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px auto;
  font-size: 1.2em; }
  .container-pag i {
    margin-top: 3px;
    margin-right: 5px; }
  .container-pag span {
    margin-right: 5px;
    margin-bottom: 5px; }

@media (min-width: 1200px) {
  .main-content {
    display: grid;
    grid-template-columns: 10fr 4fr; } }

@media (min-width: 900px) {
  .main-content {
    display: grid;
    grid-template-columns: 10fr 4fr; } }

.fade-in {
  -webkit-animation: slideIn 1.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: slideIn 1.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20rem, 0.5rem);
    transform: translate3d(-20rem, 0.5rem); }
  to {
    opacity: 1;
    -webkit-transition: translate3d(0, 0, 0);
    -o-transition: translate3d(0, 0, 0);
    transition: translate3d(0, 0, 0); } }

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20rem, 0.5rem);
    transform: translate3d(-20rem, 0.5rem); }
  to {
    opacity: 1;
    -webkit-transition: translate3d(0, 0, 0);
    -o-transition: translate3d(0, 0, 0);
    transition: translate3d(0, 0, 0); } }

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 150px; }

.spinner__animation {
  display: inline-block;
  width: 64px;
  height: 64px; }
  .spinner__animation:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid grey;
    border-color: grey transparent grey transparent;
    -webkit-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
