body {
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  background: #ffff; }

ul {
  text-decoration: none;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

html {
  overflow-y: scroll; }

h1 {
  text-align: center; }

i {
  cursor: pointer; }

.container__info {
  margin: 20px auto;
  font-size: 13px;
  padding: 20px; }
  .container__info--border {
    border: 1px solid lightblue;
    padding: 20px; }

.container__trending {
  display: grid;
  grid-template-columns: 5fr 1fr; }
  .container__trending--sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px; }

.container__info--title {
  font-weight: bold; }

.underlined {
  color: black; }
  .underlined:hover {
    text-decoration: underline;
    color: black; }

.subscribers {
  font-size: 12px; }

.container__details {
  padding: 0 20px;
  display: grid;
  grid-template-rows: 1fr repeat(2, 2fr) 1fr; }
  .container__details--sub {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; }
  .container__details--title {
    font-size: 11px;
    font-weight: bold; }
  .container__details--numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; }

.numbers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.list-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 20px 30px;
  padding: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.post-list {
  margin: 20px 30px;
  list-style: none;
  padding: 0;
  -webkit-box-shadow: 0px 0px 1px 1px #A89FAD;
  box-shadow: 0px 0px 1px 1px #A89FAD;
  font-size: .9em; }
  @media (max-width: 600px) {
    .post-list {
      margin: 0 2px; } }

.post {
  border-bottom: .5px solid lightgrey;
  display: grid;
  grid-template-columns: 10fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: start;
  padding: 10px 0 0 10px; }
  .post:hover {
    border: .5px solid lightgrey; }
  .post .title-container {
    display: grid;
    grid-template-rows: 1.5fr 25px;
    justify-items: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .post .post-title {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px; }
    .post .post-title:hover {
      color: #3b51b1;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }
    .post .post-title:visited {
      color: #0D1F2D; }

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px; }
  .post-info a {
    color: #7c7c7c;
    text-decoration: none;
    margin-right: 10px; }
    .post-info a:hover {
      text-decoration: underline; }

.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.show-comments {
  -webkit-box-shadow: 0px 0px 1px 1px #A89FAD;
  box-shadow: 0px 0px 1px 1px #A89FAD;
  margin: 10px; }
  .show-comments .comment {
    border-bottom: .5px solid lightgrey;
    display: grid;
    grid-template-rows: 20px 1fr 20px; }
    .show-comments .comment p {
      text-align: center; }
    .show-comments .comment .comment-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 3px;
      font-size: 13px; }
    .show-comments .comment a {
      color: black; }

.hide-comments {
  display: none; }

.save {
  color: #FFD166; }

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 40px 30px 20px; }

.pag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px auto;
  font-size: 1.2em; }
  .pag-container i {
    margin-top: 3px;
    margin-right: 5px;
    cursor: pointer; }
  .pag-container span {
    margin-right: 5px;
    margin-bottom: 5px; }

@media (min-width: 1200px) {
  .main-content {
    display: grid;
    grid-template-columns: 10fr 4fr; } }

@media (min-width: 900px) {
  .main-content {
    display: grid;
    grid-template-columns: 10fr 4fr; } }

.fadeIn {
  -webkit-animation: slideIn 1.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: slideIn 1.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20rem, 0.5rem);
    transform: translate3d(-20rem, 0.5rem); }
  to {
    opacity: 1;
    -webkit-transition: translate3d(0, 0, 0);
    -o-transition: translate3d(0, 0, 0);
    transition: translate3d(0, 0, 0); } }

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20rem, 0.5rem);
    transform: translate3d(-20rem, 0.5rem); }
  to {
    opacity: 1;
    -webkit-transition: translate3d(0, 0, 0);
    -o-transition: translate3d(0, 0, 0);
    transition: translate3d(0, 0, 0); } }

.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 70px; }

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid grey;
  border-color: grey transparent grey transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite; }

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
